<div class="container">
  <div class="card mt-lg-3">
    <div class="card-header">Board name: <strong><%= @board.name %></strong></div>
    <div class="card-body">
      <div>
        <h6>Board info: </h6>
        <ul>
          <li>Email: <strong><%= @board.email %></strong></li>
          <li>Width: <%= @board.width %></li>
          <li>Height: <%= @board.height %></li>
          <li>Mines: <%= @board.num_of_mine %></li>
        </ul>
      </div>
      <hr>
      <div class="d-flex justify-content-center">

        <div class="container-overflow">
          <% @board.board_data.each do |row| %>
            <div class="board d-flex">
              <% row.each do |col| %>
                <div class="cell">
                  <% if col == 'x' %>
                    <img class="mine-image" src="/bomb.png" alt="Mine">
                  <% else %>
                    <strong>
                      <span style="color: <%= cell_numeric(col) %>"><%= col.to_i.positive? ? col : '' %></span>
                    </strong>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="d-flex justify-content-end">
          <%= link_to 'Back to Home', root_path, class: "btn btn-primary btn-sm m-2" %>
        </div>
      </div>
    </div>
  </div>
</div>
